<md-content ng-controller="IndexCtrl" flex class="md-padding">
    <h2>
        Connecting to Lich
    </h2>
    <p>
        In order to connect this application requires Lich to be running in detachable client mode. This allows
        Lich to run in the background and Spif FE can connect to it directly.<br><br>

        <ol>
            <li>Open cmd.exe by presssing WIN+R, typing cmd.exe, and hitting enter.</li>
            <li>Change to the Lich directory by entering, <strong>cd c:\&lt;your lich directory&gt;</strong></li>
            <li>Run <strong>ruby lich.rbw --login character --without-frontend --detachable-client=8000</strong></li>
            <li>
                Modify the hostname/port below and press connect.
                <ul>
                    <li>If you copied the command in step 3 the defaults are correct.</li>
                </ul>
            </li>
        </ol>
    </p>

    <form role="form" ng-submit="connect(hostname, port);">
        <md-input-container>
            <label for="hostname" class="col-xs-2 control-label">Hostname</label>
            <input type="hostname" class="form-control" id="hostname" ng-model="hostname">
        </md-input-container>
        <md-input-container>
            <label for="port" class="col-xs-2 control-label">Port</label>
            <input type="text" class="form-control" id="port" ng-model="port">
        </md-input-container>
        <md-button type="submit" class="btn btn-default">Connect</md-button>
    </form>
</md-content>