.prompt {
    color: cyan;
}

.numbers {
    color: #555555;
}

.lnet {
    color: cyan;
}

.paths {
    color: #0099ff;
}

.private {
    color: yellow;
}

.highlight {
    color: saddlebrown;
}

.person {
    color: orange;
}

.roomName {
    color: white;
    font-weight: bold;
}