html {
    border: 5px solid #212121;
}

html, body {
    height: 100%;
    -webkit-user-select: auto;
    padding: 0 8px 0 8px;
}

progress {
    color: #0063a6;
    background: transparent;
    width: 100%;
}

/** Generic Classes */
.flex, .flex-column {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.overflow {
    overflow-x: hidden;
    overflow-y: scroll;
}

.ng-hide {
    display: none;
}

/* Main Angular Window */
#ng-view {
    height: 100%;
}


/* Game Window */
#game {
    height: 100%;
    padding: 13px 15px;
}

#game-top {
    flex: 0 0 15%;
    height: 15%;
}

#game-logons {
    flex: 1 0 auto;
    overflow: hidden;
}

#game-bottom {
    flex: 1 0 auto;
}

#game-top-thoughts, #game-top-roomobjs {
    height: 100%;
}

#game-left {
    flex: 1 1 125px;
    width: 100%;
}

#game-main {
    flex: 1 1 auto;
    width: 100%;
}

#game-main-output {
    flex: 1 0 auto;
    height: 100%;
    padding: 5px 0 5px 0;
}

#game-main-output div {
    white-space: pre-wrap;
}

#game-main-hands {
    height: 28px;
    text-indent: 20px;
    line-height: 28px;
    margin-top: 3px;
}

#game-hands-left {
    background: url('/asset/img/left_hand.png') no-repeat;
    height: 28px;
}

#game-hands-right {
    background: url('/asset/img/right_hand.png') no-repeat;
    height: 28px;
}

#game-hands-spell {
    background: url('/asset/img/spell_ready.png') no-repeat;
    height: 28px;
}

/* Roundtime bars */
#game-main-counter progress {
    background-color: black;
    border: 0;
    height: 5px;
}

#game-main-counter progress::-webkit-progress-bar {
    background: #212121;
}

#game-main-counter progress::-webkit-progress-value {
    background: darkred;
}

/* Command input */
#game-main-command input {
    background-color: #212121;
}

#game-main-command input:focus {
    border: 1px solid #5e5e5e;
}

/* Status Indicators (health, mana, etc) */
#game-main-status {
    height: 18px;
}

#status {
    justify-content: center;
}

#status span i {
    position: relative;
    top: -18px;
    margin-bottom: -14px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: white;
    left: 4px;
}

#status span progress {
    height: 18px;
}

#status .health progress::-webkit-progress-value {
    background: darkred;
    padding-left: 0;
}

#status .mana progress::-webkit-progress-value {
    background: darkblue;
}

#status .stamina progress::-webkit-progress-value {
    background: yellow;
}

#status div.stamina span i {
    color: black;
}

#status .mindState {
    color: purple;
    margin-bottom: 5px;
}

#status .pbarStance {
    color: lightgrey;
    margin-bottom: 5px;
}

/* Header */
#header {
    -webkit-app-region: drag;
}

#header .nav {
    -webkit-app-region: no-drag;
}

#header-window-controls {
    margin-left: 15px;
}

#header-window-controls img {
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#header-window-controls img:hover {
    border: 1px solid #5e5e5e;
}