body {
    background-color: #000;
    color: #ccc;
}

.page-header {
    margin-top: 0;
}

.buffer {
    font-size: 12px;
    font-family: "Lucida Console", Monaco, monospace;
}

#status .health progress::-webkit-progress-value {
    background: darkred;
}

#status .mana progress::-webkit-progress-value {
    background: darkblue;
}

#status .stamina progress::-webkit-progress-value {
    background: yellow;
}

#status .spirit progress::-webkit-progress-value {
    background: purple;
}

#status .mindState {
    color: lightgrey;
}

#status .pbarStance {
    color: lightgrey;
}

#status .encumlevel {
    color: lightgrey;
}