<!DOCTYPE html>
<html lang="en" ng-app="app" ng-csp>
<head>
    <meta charset="utf-8">
    <!-- prod:app.css -->
<link rel="stylesheet" href="/build/css/app.css/app.css" />
<!-- endbuild -->
</head>

<body>
<div layout="column" flex style="height:100%;">
    <md-toolbar ng-controller="ToolbarCtrl">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('left')">
                <md-icon md-svg-icon="/asset/img/menu.svg"></md-icon>
            </md-button>
            <h2>Spif FE v{{ manifest.version }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close" ng-click="close()">
                <md-icon md-svg-icon="/asset/img/close.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Minimize" ng-click="minimize()">
                <md-icon md-svg-icon="/asset/img/minimize.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Maximize" ng-click="maximize()" ng-if="!maximized">
                <md-icon md-svg-src="/asset/img/maximize.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Maximize" ng-click="restore()" ng-if="maximized">
                <md-icon md-svg-src="/asset/img/maximize.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div id="main-container" layout="row" flex fe-resize ng-style="resizeWithOffset(64)">
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">

        </md-sidenav>
        <ng-view layout="column" flex></ng-view>
    </div>
</div>

<!-- prod:vendor.js -->
<script src="/build/js/vendor.js/angular.js"></script>
<script src="/build/js/vendor.js/angular-aria.js"></script>
<script src="/build/js/vendor.js/angular-animate.js"></script>
<script src="/build/js/vendor.js/angular-route.js"></script>
<script src="/build/js/vendor.js/angular-sanitize.js"></script>
<script src="/build/js/vendor.js/angular-ui.js"></script>
<script src="/build/js/vendor.js/angular-material.js"></script>
<script src="/build/js/vendor.js/replace.js"></script>
<!-- endbuild -->
<!-- prod:app.js -->
<script src="/build/js/app.js/app.js"></script>
<script src="/build/js/app.js/auto-scroll.js"></script>
<script src="/build/js/app.js/progress.js"></script>
<script src="/build/js/app.js/resize.js"></script>
<script src="/build/js/app.js/socket.js"></script>
<script src="/build/js/app.js/client.js"></script>
<script src="/build/js/app.js/parser.js"></script>
<script src="/build/js/app.js/command.js"></script>
<script src="/build/js/app.js/counter.js"></script>
<script src="/build/js/app.js/game.js"></script>
<script src="/build/js/app.js/header.js"></script>
<script src="/build/js/app.js/index.js"></script>
<script src="/build/js/app.js/indicator.js"></script>
<script src="/build/js/app.js/settings.js"></script>
<script src="/build/js/app.js/status.js"></script>
<script src="/build/js/app.js/toolbar.js"></script>
<!-- endbuild -->

</body>
</html>
