<div class="flex-column" style="height: 100%;">
    <div ng-include="'header/header.html'"></div>
    <div id="game" class="flex-column">
        <div id="game-top">
            <div id="game-top-thoughts" class="col-xs-12 col-sm-9 overflow" fe-auto-scroll ng-model="thoughts"></div>
            <div id="game-top-roomobjs" class="overflow col-xs-3 hidden-xs" ng-bind-html="roomobjs"></div>
        </div>
        <div id="game-bottom" class="flex">
            <div id="game-left" class="flex-column">
                <div id="game-logons" class="hidden-xs hidden-sm" ng-model="logons"></div>
            </div>

            <div id="game-main" class="flex-column">
                <div id="game-main-output" class="overflow" fe-auto-scroll ng-model="game"></div>
                <div id="game-main-status" ng-include="'status/status.html'"></div>
                <div id="game-main-counter" ng-include="'counter/counter.html'"></div>
                <div id="game-main-command" ng-include="'command/command.html'"></div>
                <div id="game-main-hands" ng-include="'game/hands.html'" class="hidden-xs"></div>
            </div>
        </div>
    </div>
</div>