html, body {
  font-size: 14px;
  line-height: 18px;
  -webkit-user-select: auto;
}

a {
  color: #0099ff;
}

md-sidenav {
  z-index: 10000;
}

md-toolbar {
  -webkit-app-region: drag;

  button {
    -webkit-app-region: no-drag;
  }
}

ng-view {
  height: 100%;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background: rgb(85,85,85);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(85,85,85);
}